@mixin font($name, $font-family, $weight, $style, $font-name-local, $font-name-local-alternate) {
  @font-face {
    src:
      local("#{$font-name-local}"),
      local("#{$font-name-local-alternate}"),
      url("../fonts/" + $name + ".woff2") format("woff2");
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

@mixin list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* @include list-reset; */

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

/* @include hover {} */

@mixin hover-focus {
  @media (hover: hover) {
    &:focus {
      @content;
    }

    &:hover {
      @content;
    }
  }
}

/* @include hover-focus {} */

/*
Шаблон переменных медиа запросов

$xxs: 320px;
$xs: 375px;
$sm: 425px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;
$xxxl: 1920px; */

$xxs: 320px;
$xs: 425px;
$sm: 576px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;
$xxxl: 1920px;

@mixin max($bp) {
  $value: $bp - 0.02px;

  @media (max-width: $value) {
    @content;
  }
}

/* @include breakpoints.max(breakpoints.имя_переменной) {} */

@mixin min($bp) {
  @media (min-width: $bp) {
    @content;
  }
}

/* @include breakpoints.min(breakpoints.имя_переменной) {} */

@mixin between($min, $max) {
  $max-value: $max - 0.02px;

  @media (min-width: $min) and (max-width: $max-value) {
    @content;
  }
}

/* @include breakpoints.between(breakpoints.имя_переменной, breakpoints.имя_переменной) {} */
