:root {
  --sans-serif: "Noto Sans", "Helvetica", "Verdana", sans-serif;
  --serif: "Times New Roman", "Georgia", "Baskerville", serif;
  --color-white: rgb(255, 255, 255); /* #fff */
  --color-primary: rgb(0, 170, 161); /* #00AAA1 */
  --color-emperor: rgb(85, 85, 85); /* #555 */
  --color-boulder: rgb(119, 119, 119); /* #777 */
  --color-min-shaft: rgb(34, 34, 34); /* #222 */
  --color-dusty-gray: rgb(153, 153, 153); /* #999 */
  --color-dove-gray: rgb(102, 102, 102); /* #666 */
  --color-alto: rgb(217, 217, 217); /* #d9d9d9 */
  --color-silver: rgb(196, 196, 196); /* #c4c4c4 */
  --color-aqua-haze: rgb(242, 248, 247); /* #f2f8f7 */
  --color-cod-gray: rgb(28, 28, 28); /* #1c1c1c */
  --color-dark-charcoal: rgb(51, 51, 51); /* #333 */
  --color-skeptic: rgb(209, 231, 229); /* #d1e7e5 */
  --color-resene-black: rgb(30, 30, 30); /* #1e1e1e */
  --color-aqua-squeeze: rgb(223, 241, 240); /* #dff1f0 */
  --color-tiara: rgb(196, 209, 209); /* #c4d1d1 */
  --color-linen: rgb(253, 247, 244); /* #fdf7f4 */
  --color-shark: rgb(43, 44, 46); /* #2b2c2e */
  --color-aqua-spring: rgb(232, 243, 243); /* #e8f3f3 */
  --color-seashell: rgb(241, 241, 241); /* #f1f1f1 */
}

.dark-theme {
  --color-white: rgb(18, 18, 18); /* #121212 */
  --color-emperor: rgb(209, 209, 209); /* #D1D1D1 */
  --color-boulder: rgb(169, 169, 169); /* #A9A9A9 */
  --color-min-shaft: rgb(255, 255, 255); /* #FFFFFF */
  --color-dove-gray: rgb(182, 182, 182); /* #B6B6B6 */
  --color-silver: rgb(90, 90, 90); /* #5A5A5A */
  --color-aqua-haze: rgb(46, 46, 46); /* #2E2E2E */
  --color-cod-gray: rgb(202, 202, 202); /* #CACACA */
  --color-dark-charcoal: rgb(255, 255, 255); /* #FFFFFF */
  --color-skeptic: rgb(63, 63, 63); /* #3F3F3F */
  --color-resene-black: rgb(255, 255, 255); /* #FFFFFF */
  --color-aqua-squeeze: rgb(92, 92, 92); /* #5C5C5C */
  --color-aqua-spring: rgb(63, 63, 63); /* #3F3F3F */
}
