section.not-found
  .container.not-found__container
    h1.visually-hidden Page not found
    span.not-found__code 404
    p.not-found__text the page you are looking for does not exist!
    a(href="/").not-found__link.arrow-link.arrow-link--reverse Back to homepage
