section.about-us
  .container
    .about-us__top
      h2.about-us__title.section-title.section-title--big
        span.section-title__marker Notebook is a place
        | Where you can find your perfect blogs
      p.about-us__text Dynamically underwhelm integrated outsourcing via timely models. Rapidiously reconceptualize visionary imperatives without 24/365 catalysts for change. Completely streamline functionalized models and out-of-the-box functionalities. Authoritatively target proactive vortals vis-a-vis exceptional results. Compellingly brand emerging sources and compelling materials. Globally iterate parallel content
      p.about-us__subtitle The best ideas can change who we are.
      p.about-us__text Dynamically underwhelm integrated outsourcing via timely models. Rapidiously reconceptualize visionary imperatives without 24/365 catalysts for
    .about-us__bottom
      h2.about-us__title.section-title.section-title--big
        span.section-title__marker We are
        | Featured on
      .about-us__slider.companies-slider.splide
        .splide__track.companies-slider__track
          ul.splide__list.companies-slider__list
            li.splide__slide.companies-slider__slide
              svg(width="144" height="34" class="companies-slider__logo" aria-hidden="false")
                use(xlink:href="img/sprite.svg#grammarly-logo")
            li.splide__slide.companies-slider__slide
              svg(width="150" height="34" class="companies-slider__logo" aria-hidden="false")
                use(xlink:href="img/sprite.svg#unsplash-logo")
            li.splide__slide.companies-slider__slide
              svg(width="170" height="40" class="companies-slider__logo" aria-hidden="false")
                use(xlink:href="img/sprite.svg#wordpress-logo")
            li.splide__slide.companies-slider__slide
              svg(width="194" height="30" class="companies-slider__logo" aria-hidden="false")
                use(xlink:href="img/sprite.svg#medium-logo")
            li.splide__slide.companies-slider__slide
              svg(width="118" height="34" class="companies-slider__logo" aria-hidden="false")
                use(xlink:href="img/sprite.svg#blogger-logo")
            li.splide__slide.companies-slider__slide
              svg(width="144" height="34" class="companies-slider__logo" aria-hidden="false")
                use(xlink:href="img/sprite.svg#grammarly-logo")
            li.splide__slide.companies-slider__slide
              svg(width="150" height="34" class="companies-slider__logo" aria-hidden="false")
                use(xlink:href="img/sprite.svg#unsplash-logo")
            li.splide__slide.companies-slider__slide
              svg(width="170" height="40" class="companies-slider__logo" aria-hidden="false")
                use(xlink:href="img/sprite.svg#wordpress-logo")
            li.splide__slide.companies-slider__slide
              svg(width="194" height="30" class="companies-slider__logo" aria-hidden="false")
                use(xlink:href="img/sprite.svg#medium-logo")
            li.splide__slide.companies-slider__slide
              svg(width="118" height="34" class="companies-slider__logo" aria-hidden="false")
                use(xlink:href="img/sprite.svg#blogger-logo")
            li.splide__slide.companies-slider__slide
              svg(width="144" height="34" class="companies-slider__logo" aria-hidden="false")
                use(xlink:href="img/sprite.svg#grammarly-logo")
            li.splide__slide.companies-slider__slide
              svg(width="150" height="34" class="companies-slider__logo" aria-hidden="false")
                use(xlink:href="img/sprite.svg#unsplash-logo")
            li.splide__slide.companies-slider__slide
              svg(width="170" height="40" class="companies-slider__logo" aria-hidden="false")
                use(xlink:href="img/sprite.svg#wordpress-logo")
            li.splide__slide.companies-slider__slide
              svg(width="194" height="30" class="companies-slider__logo" aria-hidden="false")
                use(xlink:href="img/sprite.svg#medium-logo")
            li.splide__slide.companies-slider__slide
              svg(width="118" height="34" class="companies-slider__logo" aria-hidden="false")
                use(xlink:href="img/sprite.svg#blogger-logo")
            li.splide__slide.companies-slider__slide
              svg(width="144" height="34" class="companies-slider__logo" aria-hidden="false")
                use(xlink:href="img/sprite.svg#grammarly-logo")
            li.splide__slide.companies-slider__slide
              svg(width="150" height="34" class="companies-slider__logo" aria-hidden="false")
                use(xlink:href="img/sprite.svg#unsplash-logo")
            li.splide__slide.companies-slider__slide
              svg(width="170" height="40" class="companies-slider__logo" aria-hidden="false")
                use(xlink:href="img/sprite.svg#wordpress-logo")
            li.splide__slide.companies-slider__slide
              svg(width="194" height="30" class="companies-slider__logo" aria-hidden="false")
                use(xlink:href="img/sprite.svg#medium-logo")
            li.splide__slide.companies-slider__slide
              svg(width="118" height="34" class="companies-slider__logo" aria-hidden="false")
                use(xlink:href="img/sprite.svg#blogger-logo")
            li.splide__slide.companies-slider__slide
              svg(width="144" height="34" class="companies-slider__logo" aria-hidden="false")
                use(xlink:href="img/sprite.svg#grammarly-logo")
            li.splide__slide.companies-slider__slide
              svg(width="150" height="34" class="companies-slider__logo" aria-hidden="false")
                use(xlink:href="img/sprite.svg#unsplash-logo")
            li.splide__slide.companies-slider__slide
              svg(width="170" height="40" class="companies-slider__logo" aria-hidden="false")
                use(xlink:href="img/sprite.svg#wordpress-logo")
            li.splide__slide.companies-slider__slide
              svg(width="194" height="30" class="companies-slider__logo" aria-hidden="false")
                use(xlink:href="img/sprite.svg#medium-logo")
            li.splide__slide.companies-slider__slide
              svg(width="118" height="34" class="companies-slider__logo" aria-hidden="false")
                use(xlink:href="img/sprite.svg#blogger-logo")

