section.author-info
  .container.author-info__container
    .author-info__wrapper
      img(src="https://place-hold.it/526x515" width="526" height="515", alt="").author-info__image
    .author-info__content
      h2.author-info__title Hi! i’m Saimon D’silva
      p.author-info__text Dynamically underwhelm integrated outsourcing via timely models. Rapidiously reconceptualize visionary imperatives without 24/365 catalysts for change. Completely streamline functionalized models and out-of-the-box functionalities. Authoritatively target proactive vortals vis-a-vis exceptional results. Compellingly brand emerging sources and compelling materials. Globally iterate parallel content
      p.author-info__subtitle The best ideas can change who we are.
      p.author-info__text.author-info__text--large-indent Dynamically underwhelm integrated outsourcing via timely models. Rapidiously reconceptualize visionary imperatives without 24/365 catalysts for
      p.author-info__subtitle Follow on social media:
      ul.socials.socials--authors.author-info__socials
        li.socials__item
          a(href="#").socials__link
            svg(width="24" height="24" class="socials__icon" aria-hidden="true")
              use(xlink:href="img/sprite.svg#fb-fill-ic")
        li.socials__item
          a(href="#").socials__link
            svg(width="24" height="24" class="socials__icon" aria-hidden="true")
              use(xlink:href="img/sprite.svg#tw-fill-ic")
        li.socials__item
          a(href="#").socials__link
            svg(width="24" height="24" class="socials__icon" aria-hidden="true")
              use(xlink:href="img/sprite.svg#insta-fill-ic")
        li.socials__item
          a(href="#").socials__link
            svg(width="24" height="24" class="socials__icon" aria-hidden="true")
              use(xlink:href="img/sprite.svg#pin-fill-ic")
