section.author-request
  .container.author-request__container
    h2.author-request__title.section-title.section-title--big
      span.section-title__marker
        svg(width="17" height="17" viewBox="0 0 17 17" class="section-title__icon" aria-hidden="true")
          use(xlink:href="img/sprite.svg#write-ic")
        | Write on
      | Notebook
    .author-request__wrapper
      p.author-request__subtitle Write on notebook is very simple
      p.author-request__description Go to your mail and start  typing your article with title & categories, attached your image/video file (if have).
      p.author-request__subject Type your personal information.
      p.author-request__description (Name, Occupation, Address, Social media links)
      p.author-request__description
        | Send it on:
        span.author-request__email blog.notebook@gmail.com
      a(href="mailto:blog.notebook@gmail.com").button.button--outline.button--xl Go to your mail
