section.categories
  .container
    h1.categories__title Categories
    ul.categories__list
      li.categories__item
        a(href="#").categories__link
          span.categories__caption enviroment & nature
          svg(width="40" height="40" class="categories__icon" aria-hidden="true")
            use(xlink:href="img/sprite.svg#nature-ic")
      li.categories__item
        a(href="#").categories__link
          span.categories__caption technology
          svg(width="40" height="40" class="categories__icon" aria-hidden="true")
            use(xlink:href="img/sprite.svg#cpu-ic")
      li.categories__item
        a(href="#").categories__link
          span.categories__caption lifestyle & fashion
          svg(width="40" height="40" class="categories__icon" aria-hidden="true")
            use(xlink:href="img/sprite.svg#dress-ic")
      li.categories__item
        a(href="#").categories__link
          span.categories__caption photography
          svg(width="40" height="40" class="categories__icon" aria-hidden="true")
            use(xlink:href="img/sprite.svg#camera-ic")
      li.categories__item
        a(href="#").categories__link
          span.categories__caption food
          svg(width="40" height="40" class="categories__icon" aria-hidden="true")
            use(xlink:href="img/sprite.svg#food-ic")
      li.categories__item
        a(href="#").categories__link
          span.categories__caption holiday & travel
          svg(width="40" height="40" class="categories__icon" aria-hidden="true")
            use(xlink:href="img/sprite.svg#plane-ic")
      li.categories__item
        a(href="#").categories__link
          span.categories__caption healthcare
          svg(width="40" height="40" class="categories__icon" aria-hidden="true")
            use(xlink:href="img/sprite.svg#heart-ic")
