.page__content.content
  .container.content__container
    section.content__recent-posts.recent-posts
      h3.content__title.section-title
        span.section-title__marker Recently
        | Posted
      ul.recent-posts__list
        li.recent-posts__item
          article.small-post.small-post--medium
            img(src="/img/post-image.jpg" width="401" height="229", alt="Set video playback speed with javascript").small-post__image
            .small-post__info
              h4.small-post__title
                a(href="#").small-post__link Set video playback speed with javascript
              a(href="#").small-post__badge Travel
              .small-post__description
                .small-post__meta
                  a(href="#").small-post__writer-link
                    img(src="/img/author-pic.jpg", width="18" height="18" alt="Author Post - Jenny Kiaa").small-post__photo-author
                    p.small-post__author-name Jenny Kiaa
                  time(datetime="2022-12-02").small-post__date 02 december 2022
                  p.small-post__reading-time 3 min. to read
                p.small-post__post-text Did you come here for something in particular or just general Riker-bashing? And blowing into
        li.recent-posts__item
          article.small-post.small-post--medium
            img(src="/img/post-image.jpg" width="401" height="229", alt="Set video playback speed with javascript").small-post__image
            .small-post__info
              h4.small-post__title
                a(href="#").small-post__link Set video playback speed with javascript
              a(href="#").small-post__badge Travel
              .small-post__description
                .small-post__meta
                  a(href="#").small-post__writer-link
                    img(src="/img/author-pic.jpg", width="18" height="18" alt="Author Post - Jenny Kiaa").small-post__photo-author
                    p.small-post__author-name Jenny Kiaa
                  time(datetime="2022-12-02").small-post__date 02 december 2022
                  p.small-post__reading-time 3 min. to read
                p.small-post__post-text Did you come here for something in particular or just general Riker-bashing? And blowing into
      .content__invitation.invitation
        p.invitation__text Share your knowledge with our readers
        a(href="#").invitation__button.button.button--big.button--outline
          svg(width="16" height="16" class="button__icon button__icon--left" aria-hidden="true")
            use(xlink:href="img/sprite.svg#write-ic")
          | Write on notebook
      ul.recent-posts__list
        li.recent-posts__item
          article.small-post.small-post--medium
            img(src="/img/post-image.jpg" width="401" height="229", alt="Set video playback speed with javascript").small-post__image
            .small-post__info
              h4.small-post__title
                a(href="#").small-post__link Set video playback speed with javascript
              a(href="#").small-post__badge Travel
              .small-post__description
                .small-post__meta
                  a(href="#").small-post__writer-link
                    img(src="/img/author-pic.jpg", width="18" height="18" alt="Author Post - Jenny Kiaa").small-post__photo-author
                    p.small-post__author-name Jenny Kiaa
                  time(datetime="2022-12-02").small-post__date 02 december 2022
                  p.small-post__reading-time 3 min. to read
                p.small-post__post-text Did you come here for something in particular or just general Riker-bashing? And blowing into
    aside.content__main-sidebar.main-sidebar
      include _sidebar-top-authors.pug
      include _sidebar-ad.pug
      include _sidebar-categories.pug
      include _sidebar-statistics.pug

