section.faq
  .container
    h1.faq__title.section-title.section-title--big
      span.section-title__marker Frequently
      | Asked question
    p.faq__text Did you come here for something in particular or just general Riker-bashing? And blowing
    .faq__accordion.accordion
      .ac
        h2.ac-header.accordion__header
          button(type="button" class="ac-trigger accordion__button") is there have any option for write blog?
        .ac-panel.accordion__panel
          p.accordion__text Did you come here for something in particular or just general Riker-bashing? And blowing into maximum warp speed, you appeared for an instant to be in two places at once. We have a saboteur aboard. We know you’re dealing in stolen ore. But I wanna talk about
      .ac
        h2.ac-header.accordion__header
          button(type="button" class="ac-trigger accordion__button") can i change my plan later?
        .ac-panel.accordion__panel
          p.accordion__text Did you come here for something in particular or just general Riker-bashing? And blowing into maximum warp speed, you appeared for an instant to be in two places at once. We have a saboteur aboard. We know you’re dealing in stolen ore. But I wanna talk about
      .ac
        h2.ac-header.accordion__header
          button(type="button" class="ac-trigger accordion__button") Did you come here for something in particular?
        .ac-panel.accordion__panel
          p.accordion__text Did you come here for something in particular or just general Riker-bashing? And blowing into maximum warp speed, you appeared for an instant to be in two places at once. We have a saboteur aboard. We know you’re dealing in stolen ore. But I wanna talk about
      .ac
        h2.ac-header.accordion__header
          button(type="button" class="ac-trigger accordion__button") is there have any option for write blog?
        .ac-panel.accordion__panel
          p.accordion__text Did you come here for something in particular or just general Riker-bashing? And blowing into maximum warp speed, you appeared for an instant to be in two places at once. We have a saboteur aboard. We know you’re dealing in stolen ore. But I wanna talk about
      .ac
        h2.ac-header.accordion__header
          button(type="button" class="ac-trigger accordion__button") something in particular or just general Riker-bashing?
        .ac-panel.accordion__panel
          p.accordion__text Did you come here for something in particular or just general Riker-bashing? And blowing into maximum warp speed, you appeared for an instant to be in two places at once. We have a saboteur aboard. We know you’re dealing in stolen ore. But I wanna talk about
    p.faq__subtitle Can't find an answer to your question?
    .faq__button
      a(href="mailto:mail@mail.com").button.button--outline
        span Contact us
        svg(width="11" height="8" class="button__icon button__icon--right" aria-hidden="true")
          use(xlink:href="img/sprite.svg#pagination-arrow-right")
