header.site-header
  .container.site-header__container
    nav.site-navigation.site-header__main-navigation
      ul.site-navigation__list
        li.site-navigation__item.dropdown
          button(type="button").site-navigation__link.dropdown__toggle Homepages
          ul.dropdown__list
            li.dropdown__item
              a(href="/").dropdown__link Home 1
            li.dropdown__item
              a(href="/home-2.html").dropdown__link Home 2
            li.dropdown__item
              a(href="/home-3.html").dropdown__link Home 3
            li.dropdown__item
              a(href="/home-4.html").dropdown__link Home 4
        li.site-navigation__item
          a(href="#").site-navigation__link About
        li.site-navigation__item.dropdown
          button(type="button").site-navigation__link.dropdown__toggle Categories
          ul.dropdown__list
            li.dropdown__item
              a(href="#").dropdown__link Lifestyle
            li.dropdown__item
              a(href="#").dropdown__link Travel
            li.dropdown__item
              a(href="#").dropdown__link Food
            li.dropdown__item
              a(href="#").dropdown__link Healthcare
            li.dropdown__item
              a(href="#").dropdown__link Technology
        li.site-navigation__item.dropdown
          button(type="button").site-navigation__link.dropdown__toggle Pages
          ul.dropdown__list
            li.dropdown__item
              a(href="#").dropdown__link Write Blog
            li.dropdown__item
              a(href="#").dropdown__link About Us
            li.dropdown__item
              a(href="#").dropdown__link About Author
            li.dropdown__item
              a(href="#").dropdown__link Contacts
            li.dropdown__item
              a(href="#").dropdown__link Search Result
            li.dropdown__item
              a(href="#").dropdown__link Categories
            li.dropdown__item
              a(href="#").dropdown__link Blog Post
            li.dropdown__item
              a(href="#").dropdown__link Faq
            li.dropdown__item
              a(href="#").dropdown__link 404
    a(href="#").logo.site-header__logo
      svg(width="120" height="28" class="logo__image" aria-hidden="false")
        use(xlink:href="img/sprite.svg#logo")
    ul.user-navigation.site-header__user-navigation
      li.user-navigation__item
        a(href="#").user-navigation__link
          svg(width="15" height="15" class="user-navigation__icon" aria-hidden="false")
            use(xlink:href="/img/sprite.svg#search-ic")
      li.user-navigation__item
        a(href="#").user-navigation__link
          svg(width="14" height="14" class="user-navigation__icon" aria-hidden="false")
            use(xlink:href="/img/sprite.svg#write-ic")
      li.user-navigation__item
        a(href="#").user-navigation__link Contact
      li.user-navigation__item
        form(action="#").language-form
          .language-form__wrapper
            label(for="language").visually-hidden Select language
            select(name="language" id="language").language-form__select
              option(value="en") En
              option(value="es") Es
              option(value="de") De
              option(value="it") It
      li.user-navigation__item
        button(type="button" aria-label="Change Color Theme").theme-button
          svg(width="14" height="14" class="theme-button__icon theme-button__icon--day" aria-hidden="true")
            use(xlink:href="img/sprite.svg#day-ic")
          svg(width="14" height="14" class="theme-button__icon theme-button__icon--night" aria-hidden="true")
            use(xlink:href="img/sprite.svg#night-ic")
          span.theme-button__slider
