main.main
  - let topPostsArray = [1, 2, 3, 4]
  if topPostsArray.includes(indexPageVariant)
    h1.visually-hidden Notebook - Best Travel Blog In The World
    include _top-posts.pug
    include _content.pug
  if pageName === "new-writer"
    h1.visually-hidden Become an article writer on Notebook - Best Travel Blog In The World
    include _author-request.pug
    include _reward.pug
  if pageName === "about-us"
    h1.visually-hidden About Us
    include _about-us.pug
    include _authors.pug
  if pageName === "about-author"
    h1.visually-hidden Saimon D'silva - author on NoteBook
    include _author-info.pug
    include _author-posts.pug
  if pageName === "contact-page"
    include _contacts.pug
  if pageName === "search-result"
    h1.visually-hidden Site search
    include _data-search.pug
