main.main
  - let topPostsArray = [1, 2, 3, 4]
  if topPostsArray.includes(indexPageVariant)
    h1.visually-hidden Notebook - Best Travel Blog In The World
    include _top-posts.pug
  if pageName === "new-writer"
    h1.visually-hidden Become an article writer on Notebook - Best Travel Blog In The World
    include _author-request.pug
  include _content.pug
