if pageName === "about-us"
  .authors__invitation.invitation
    p.invitation__text want to write on notebook?
    p.invitation__description there have some simple steps, by following these steps you can be a regular author in notebook
    a(href="#").invitation__button.button.button--big.button--outline
      svg(width="16" height="16" class="button__icon button__icon--left" aria-hidden="true")
        use(xlink:href="img/sprite.svg#write-ic")
      | Write on notebook
else
  .content__invitation.invitation
    p.invitation__text Share your knowledge with our readers
    a(href="#").invitation__button.button.button--big.button--outline
      svg(width="16" height="16" class="button__icon button__icon--left" aria-hidden="true")
        use(xlink:href="img/sprite.svg#write-ic")
      | Write on notebook
