.main.post
  .container.post__container
    main.post__content
      article.post__article
        header.post__header
          h1.post__title I Created a Developer Rap Video - Here's What I Learned
          a(href="#").post__badge Travel
          .post__meta.meta
            a(href="#").meta__writer-link.meta__item
              img(src="/img/author-pic.jpg" width="18" height="18", alt="Author Post - Jenny Kiaa").meta__photo
              p.meta__name Jenny Kiaa
            time(datetime="2022-12-02").meta__date 02 december 2022
        img(src="/img/post-big-image.jpg" width="856" height="432", alt="I Created a Developer Rap Video - Here's What I Learned").post__big-image
        .raw-content
          p Did you come here for something in particular or just general Riker-bashing? And blowing into maximum warp speed, you appeared for an instant to be in two places at once. We have a saboteur aboard. We know you’re dealing in stolen ore. But I wanna talk about the assassination attempt on Lieutenant Worf. Could someone survive inside a transporter buffer for 75 years? Fate. It protects fools, little children, and ships.
          h2 I Created a Developer Rap Video - Here's What I Learned
          p Did you come here for something in particular or just general Riker-bashing? And blowing into maximum warp speed, you appeared for an instant to be in two places at once. We have a saboteur aboard. We know you’re dealing in stolen ore. But I wanna talk about the assassination attempt
          .table-wrapper
            table
              thead
                tr
                  th First
                  th Last
                  th Handle
              tbody
                tr
                  td Row:1 Cell:1
                  td Row:1 Cell:2
                  td Row:1 Cell:3
                tr
                  td Row:2 Cell:1
                  td Row:2 Cell:2
                  td Row:2 Cell:3
                tr
                  td Row:3 Cell:1
                  td Row:3 Cell:2
                  td Row:3 Cell:3
          p Did you come here for something in particular or just general Riker-bashing? And blowing into maximum warp speed, you appeared for an instant to be in two places at once. We have a saboteur aboard.
          blockquote
            p "Did you come here for something in particular or just general Riker-bashing? And blowing into maximum warp speed, you appeared for an instant to be in two places at once. We have a saboteur aboard. We know you’re dealing in stolen ore. But I wanna talk about the assassination attempt on Lieutenant Worf."
          p Did you come here for something in particular or just general Riker-bashing? And blowing into maximum warp speed, you appeared for an instant to be in two places at once. We have a saboteur aboard.
          h2 I Created a Developer Rap Video - Here's What I Learned
          p Did you come here for something in particular or just general Riker-bashing? And blowing into maximum warp speed, you appeared for an instant to be in two places at once. We have a saboteur aboard.
          ol
            li Did you come here for something in particular or just general
            li Did you come here for something in particular or just general Riker-bashing
            li Did you come here for something in particula
          ul
            li Scalability
            li User experience
            li Additionally, I’ll explore the solutions being developed to solve those.
          p Did you come here for something in particular or just general Riker-bashing? And blowing into maximum
          img(src="https://place-hold.it/300x230" width="300" height="230" alt="test image")
          img(src="https://place-hold.it/1280x720" width="1280" height="720" alt="test image")
          h2 I Created a Developer Rap Video
          h3 I Created a Developer Rap Video
          h4 I Created a Developer Rap Video
          h5 I Created a Developer Rap Video
          h6 I Created a Developer Rap Video
          h2 emphasis :
          p Did you come here for something in particular or just
            del general
          p
            ins Did you come here for something in particular
          p
            del Did you come here
          p
            strong Did you come here for something in particular
          p Did you come here for #[a(href="#") something] in particular
          .tabs
            div.tabs__items
              a(href="#").tabs__button.tabs__button--active Step 1
              a(href="#").tabs__button Step 2
              a(href="#").tabs__button Step 3
            div.tabs__content.tabs__content--active
              h3 Title goes here
              p Did you come here for something in particular or just general Riker-bashing? And blowing into maximum warp speed, you appeared for an instant to be in two places at once. We have a saboteur aboard. We know you’re dealing in stolen ore. But I wanna talk about the assassination attempt on Lieutenant Worf.
            div.tabs__content
              h3 Title goes here second tab
              p Did you come here for something in particular or just general Riker-bashing? And blowing into maximum warp speed, you appeared for an instant to be in two places at once. We have a saboteur aboard. We know you’re dealing in stolen ore. But I wanna talk about the assassination attempt on Lieutenant Worf.
            div.tabs__content
              h3 Title goes here third tab
              p Did you come here for something in particular or just general Riker-bashing? And blowing into maximum warp speed, you appeared for an instant to be in two places at once. We have a saboteur aboard. We know you’re dealing in stolen ore. But I wanna talk about the assassination attempt on Lieutenant Worf.
          .video
            a(href="https://youtu.be/KJwYBJMSbPI").video__link
              img(src="https://i.ytimg.com/vi/KJwYBJMSbPI/maxresdefault.jpg", width="1280" height="720" alt="Thumbnail video").video__media
            button(type="button" aria-label="Start video").video__button
              svg(width="68" height="48" viewBox="0 0 68 48" fill="none")
                path(class="video__button-shape" d="M66.5788 7.4952C65.7958 4.5432 63.4942 2.2248 60.5667 1.4328C55.2662 0 33.9999 0 33.9999 0C33.9999 0 12.7336 0 7.43308 1.4328C4.50555 2.2248 2.20636 4.5432 1.42093 7.4952C0 12.84 0 24 0 24C0 24 0 35.16 1.42093 40.5048C2.20636 43.4568 4.50555 45.7752 7.43308 46.5672C12.7336 48 33.9999 48 33.9999 48C33.9999 48 55.2662 48 60.5667 46.5672C63.4942 45.7752 65.7958 43.4568 66.5788 40.5048C67.9997 35.16 67.9997 24 67.9997 24C67.9997 24 67.995 12.84 66.5788 7.4952Z")
                path(class="video__button-icon" d="M27.1927 34.284L44.8603 24L27.1927 13.716V34.284Z")
      ul.post__socials.socials.socials--authors.socials--post
        li.socials__item
          a(href="#").socials__link
            svg(width="20" height="20" class="socials__icon" aria-hidden="true")
              use(xlink:href="img/sprite.svg#copy-link-ic")
        li.socials__item
          a(href="#").socials__link
            svg(width="20" height="20" class="socials__icon" aria-hidden="true")
              use(xlink:href="img/sprite.svg#fb-fill-ic")
        li.socials__item
          a(href="#").socials__link
            svg(width="20" height="20" class="socials__icon" aria-hidden="true")
              use(xlink:href="img/sprite.svg#tw-fill-ic")
        li.socials__item
          a(href="#").socials__link
            svg(width="20" height="20" class="socials__icon" aria-hidden="true")
              use(xlink:href="img/sprite.svg#insta-fill-ic")
        li.socials__item
          a(href="#").socials__link
            svg(width="20" height="20" class="socials__icon" aria-hidden="true")
              use(xlink:href="img/sprite.svg#pin-fill-ic")
      section.recent-posts
        h2.content__title.section-title
          span.section-title__marker See related
          | Posts
        .recent-posts__list.recent-posts__list--narrow
          each item in pugData.recent_posts.slice(0, 2)
            .recent-posts__item
              article.small-post.small-post--narrow
                img(src= item.image width="401" height="229", alt= item.title).small-post__image
                .small-post__info
                  h4.small-post__title
                    a(href= item.link).small-post__link= item.title
                  a(href= item.categorie_url).small-post__badge= item.categorie
                  .small-post__description
                    .small-post__meta
                      a(href= item.author_link).small-post__writer-link
                        img(src= item.author_image, width="18" height="18" alt="Author Post - " + item.author_name).small-post__photo-author
                        p.small-post__author-name= item.author_name
                      time(datetime= item.post_datetime).small-post__date= item.post_date
                      p.small-post__reading-time= item.reading_time
                    p.small-post__post-text= item.post_text
      .comments
        //- Здесь разместить код комментариев Disqus
        img(src="img/comments-demo.jpg" width="856" height="414", alt="Demo comments" style="display: block; object-fit: contain; width: 100%; height: 100%;")
    aside.post__sidebar
      include _sidebar-top-authors.pug
      include _sidebar-ad.pug
      include _sidebar-categories.pug
      include _sidebar-statistics.pug
      include _sidebar-instafeed.pug
      include _sidebar-tags.pug
