section.reward
  .container.reward__container
    h2.reward__title.section-title.section-title--big
      span.section-title__marker How can you earn
      | by writing on medium
    .reward__list
      .reward__item
        h3.reward__subtitle by ad revinue
        p.reward__text Dynamically underwhelm integrated outsourcing via timely models. Rapidiously reconceptualize visionary imperatives without 24/365 catalysts for change. Completely streamline functionalized models and out-of-the-box functionalities.
      .reward__item
        h3.reward__subtitle by affiliate  programme
        p.reward__text Dynamically underwhelm integrated outsourcing via timely models. Rapidiously reconceptualize visionary imperatives without 24/365 catalysts for change. Completely streamline functionalized models and out-of-the-box functionalities. Authoritatively target proactive vortals vis-a-vis exceptional results. Compellingly brand
    .reward__more
      h3.reward__subtitle want to know more?
      a(href="#").reward__link Go to FAQ page
