section.content__sidebar-item.tags
  h3.content__title.section-title
    span.section-title__marker Search
    | With Tags
  ul.tags__list
    li.tags__item
      a(href="#").tags__link.button.button--tag Travel
    li.tags__item
      a(href="#").tags__link.button.button--tag Lifestyle
    li.tags__item
      a(href="#").tags__link.button.button--tag Fashion
    li.tags__item
      a(href="#").tags__link.button.button--tag Technology
    li.tags__item
      a(href="#").tags__link.button.button--tag Business
    li.tags__item
      a(href="#").tags__link.button.button--tag Design
    li.tags__item
      a(href="#").tags__link.button.button--tag Health
    li.tags__item
      a(href="#").tags__link.button.button--tag Food
    li.tags__item
      a(href="#").tags__link.button.button--tag Art
