section.content__sidebar-item.instafeed
  h3.content__title.section-title
    span.section-title__marker Instagram
    | Posts
  ul.instafeed__list
    li.instafeed__item
      a(href="#").instafeed__link
        img(src="/img/instafeed-image-1.jpg", width="114" height="114" alt="Instafeed Image 1").instafeed__image
    li.instafeed__item
      a(href="#").instafeed__link
        img(src="/img/instafeed-image-2.jpg", width="114" height="114" alt="Instafeed Image 2").instafeed__image
    li.instafeed__item
      a(href="#").instafeed__link
        img(src="/img/instafeed-image-3.jpg", width="114" height="114" alt="Instafeed Image 3").instafeed__image
    li.instafeed__item
      a(href="#").instafeed__link
        img(src="/img/instafeed-image-4.jpg", width="114" height="114" alt="Instafeed Image 4").instafeed__image
    li.instafeed__item
      a(href="#").instafeed__link
        img(src="/img/instafeed-image-5.jpg", width="114" height="114" alt="Instafeed Image 5").instafeed__image
    li.instafeed__item
      a(href="#").instafeed__link
        img(src="/img/instafeed-image-6.jpg", width="114" height="114" alt="Instafeed Image 6").instafeed__image
    li.instafeed__item
      a(href="#").instafeed__link
        img(src="/img/instafeed-image-7.jpg", width="114" height="114" alt="Instafeed Image 7").instafeed__image
    li.instafeed__item
      a(href="#").instafeed__link
        img(src="/img/instafeed-image-8.jpg", width="114" height="114" alt="Instafeed Image 8").instafeed__image
    li.instafeed__item
      a(href="#").instafeed__link
        img(src="/img/instafeed-image-9.jpg", width="114" height="114" alt="Instafeed Image 9").instafeed__image
