section.content__sidebar-item.statistics
  h3.statistics__section-title.section-title
    span.section-title__marker Today’s
    | Update
  dl.statistics__list
    .statistics__item
      dt.statistics__title New posts
      dd.statistics__count 14
    .statistics__item
      dt.statistics__title total visitors
      dd.statistics__count 480
    .statistics__item
      dt.statistics__title New subscribers
      dd.statistics__count 29
    .statistics__item
      dt.statistics__title blog read
      dd.statistics__count 138
