section.sidebar-categories
  h3.sidebar-categories__title.section-title
    span.section-title__marker Categories
  ul.sidebar-categories__list
    li.sidebar-categories__item
      a(href="#").sidebar-categories__link
        | lifestyle
        span.sidebar-categories__count 09
    li.sidebar-categories__item
      a(href="#").sidebar-categories__link
        | travel
        span.sidebar-categories__count 05
    li.sidebar-categories__item
      a(href="#").sidebar-categories__link
        | food
        span.sidebar-categories__count 09
    li.sidebar-categories__item
      a(href="#").sidebar-categories__link
        | healthcare
        span.sidebar-categories__count 10
    li.sidebar-categories__item
      a(href="#").sidebar-categories__link
        | technology
        span.sidebar-categories__count 03
