section.content__sidebar-item.top-authors
  h3.content__title.section-title
    span.section-title__marker Top
    | Authors
  ul.top-authors__list
    li.top-authors__item
      article.top-authors__card.small-author-card
        img(src="/img/author-1.jpg" width="80" height="80", alt="Author Jenny Kia").small-author-card__image
        .small-author-card__info
          h4.small-author-card__name
            a(href="#").small-author-card__author-link Jenny Kia
          p.small-author-card__about Fashion designer, Blogger, Activist
          ul.socials.socials--small
            li.socials__item
              a(href="#").socials__link
                svg(width="6" height="10" class="socials__icon" aria-hidden="true")
                  use(xlink:href="img/sprite.svg#facebook-ic")
            li.socials__item
              a(href="#").socials__link
                svg(width="11" height="9" class="socials__icon" aria-hidden="true")
                  use(xlink:href="img/sprite.svg#twitter-ic")
            li.socials__item
              a(href="#").socials__link
                svg(width="10" height="10" class="socials__icon" aria-hidden="true")
                  use(xlink:href="img/sprite.svg#instagram-ic")
    li.top-authors__item
      article.top-authors__card.small-author-card
        img(src="/img/author-2.jpg" width="80" height="80", alt="Author Andress rasel").small-author-card__image
        .small-author-card__info
          h4.small-author-card__name
            a(href="#").small-author-card__author-link Andress rasel
          p.small-author-card__about Blogger, activist, content creator, part time designer at: #[a(href="https://www.gethugothemes.com" class="small-author-card__link" rel="nofollow noindex") www.gethugothemes.com]
          ul.socials.socials--small
            li.socials__item
              a(href="#").socials__link
                svg(width="6" height="10" class="socials__icon" aria-hidden="true")
                  use(xlink:href="img/sprite.svg#facebook-ic")
            li.socials__item
              a(href="#").socials__link
                svg(width="11" height="9" class="socials__icon" aria-hidden="true")
                  use(xlink:href="img/sprite.svg#twitter-ic")
            li.socials__item
              a(href="#").socials__link
                svg(width="10" height="10" class="socials__icon" aria-hidden="true")
                  use(xlink:href="img/sprite.svg#instagram-ic")
    li.top-authors__item
      article.top-authors__card.small-author-card
        img(src="/img/author-3.jpg" width="80" height="80", alt="Author Jenny Kia").small-author-card__image
        .small-author-card__info
          h4.small-author-card__name
            a(href="#").small-author-card__author-link Jenny Kia
          p.small-author-card__about Fashion designer, Blogger, activist
          ul.socials.socials--small
            li.socials__item
              a(href="#").socials__link
                svg(width="6" height="10" class="socials__icon" aria-hidden="true")
                  use(xlink:href="img/sprite.svg#facebook-ic")
            li.socials__item
              a(href="#").socials__link
                svg(width="11" height="9" class="socials__icon" aria-hidden="true")
                  use(xlink:href="img/sprite.svg#twitter-ic")
            li.socials__item
              a(href="#").socials__link
                svg(width="10" height="10" class="socials__icon" aria-hidden="true")
                  use(xlink:href="img/sprite.svg#instagram-ic")
