section.top-posts
  h2.visually-hidden Current Top Posts
  .container.top-posts__container
    section.top-posts__section.top-of-the-month
      h3.top-of-the-month__title.section-title
        span.section-title__marker Featured
        | This Month
      .top-of-the-month__slider
        div(data-simplebar data-simplebar-auto-hide="false" class="top-of-the-month__track")
          article.top-of-the-month__post.small-post
            h4.small-post__title
              a(href="#").small-post__link Set video playback speed with javascript
            a(href="#").small-post__badge Travel
            img(src="/img/post-image.jpg" width="401" height="229", alt="Set video playback speed with javascript").small-post__image
            .small-post__description
              .small-post__meta
                a(href="#").small-post__writer-link
                  img(src="/img/author-pic.jpg", width="18" height="18" alt="Author Post - Jenny Kiaa").small-post__photo-author
                  p.small-post__author-name Jenny Kiaa
                time(datetime="2022-12-02").small-post__date 02 december 2022
                p.small-post__reading-time 3 min. to read
              p.small-post__post-text Did you come here for something in particular or just general Riker-bashing? And blowing into
          article.top-of-the-month__post.small-post
            h4.small-post__title
              a(href="#").small-post__link Design is the Mix of emotions
            a(href="#").small-post__badge Travel
            img(src="/img/post-image.jpg" width="401" height="229", alt="Set video playback speed with javascript").small-post__image
            .small-post__description
              .small-post__meta
                a(href="#").small-post__writer-link
                  img(src="/img/author-pic.jpg", width="18" height="18" alt="Author Post - Jenny Kiaa").small-post__photo-author
                  p.small-post__author-name Jenny Kiaa
                time(datetime="2022-12-02").small-post__date 02 december 2022
                p.small-post__reading-time 3 min. to read
              p.small-post__post-text Did you come here for something in particular or just general Riker-bashing? And blowing into
          article.top-of-the-month__post.small-post
            h4.small-post__title
              a(href="#").small-post__link Set video playback speed with javascript
            a(href="#").small-post__badge Travel
            img(src="/img/post-image.jpg" width="401" height="229", alt="Set video playback speed with javascript").small-post__image
            .small-post__description
              .small-post__meta
                a(href="#").small-post__writer-link
                  img(src="/img/author-pic.jpg", width="18" height="18" alt="Author Post - Jenny Kiaa").small-post__photo-author
                  p.small-post__author-name Jenny Kiaa
                time(datetime="2022-12-02").small-post__date 02 december 2022
                p.small-post__reading-time 3 min. to read
              p.small-post__post-text Did you come here for something in particular or just general Riker-bashing? And blowing into
          article.top-of-the-month__post.small-post
            h4.small-post__title
              a(href="#").small-post__link Set video playback speed with javascript
            a(href="#").small-post__badge Travel
            img(src="/img/post-image.jpg" width="401" height="229", alt="Set video playback speed with javascript").small-post__image
            .small-post__description
              .small-post__meta
                a(href="#").small-post__writer-link
                  img(src="/img/author-pic.jpg", width="18" height="18" alt="Author Post - Jenny Kiaa").small-post__photo-author
                  p.small-post__author-name Jenny Kiaa
                time(datetime="2022-12-02").small-post__date 02 december 2022
                p.small-post__reading-time 3 min. to read
              p.small-post__post-text Did you come here for something in particular or just general Riker-bashing? And blowing into
    section.top-posts__section.popular-posts
      h3.popular-posts__title.section-title
        span.section-title__marker Popular
        | Posted
      .popular-posts__slider.popular-posts-slider.splide
        .splide__track
          ul.splide__list
            li.splide__slide
              article.popular-posts-slider__post.small-post.small-post--tiny-no-image
                h4.small-post__title
                  a(href="#").small-post__link Design is the Mix of emotions
                a(href="#").small-post__badge Travel
                .small-post__description
                  .small-post__meta
                    a(href="#").small-post__writer-link
                      img(src="/img/author-pic.jpg", width="18" height="18" alt="Author Post - Jenny Kiaa").small-post__photo-author
                      p.small-post__author-name Jenny Kiaa
                    time(datetime="2022-12-02").small-post__date 02 december 2022
                    p.small-post__reading-time 3 min. to read
                  p.small-post__post-text Did you come here for something in particular or just general Riker-bashing? And blowing into
              article.popular-posts-slider__post.small-post.small-post--tiny-no-image
                h4.small-post__title
                  a(href="#").small-post__link Design is the Mix of emotions
                a(href="#").small-post__badge Travel
                .small-post__description
                  .small-post__meta
                    a(href="#").small-post__writer-link
                      img(src="/img/author-pic.jpg", width="18" height="18" alt="Author Post - Jenny Kiaa").small-post__photo-author
                      p.small-post__author-name Jenny Kiaa
                    time(datetime="2022-12-02").small-post__date 02 december 2022
                    p.small-post__reading-time 3 min. to read
                  p.small-post__post-text Did you come here for something in particular or just general Riker-bashing? And blowing into
            li.splide__slide
              article.popular-posts-slider__post.small-post.small-post--tiny-no-image
                h4.small-post__title
                  a(href="#").small-post__link Design is the Mix of emotions
                a(href="#").small-post__badge Travel
                .small-post__description
                  .small-post__meta
                    a(href="#").small-post__writer-link
                      img(src="/img/author-pic.jpg", width="18" height="18" alt="Author Post - Jenny Kiaa").small-post__photo-author
                      p.small-post__author-name Jenny Kiaa
                    time(datetime="2022-12-02").small-post__date 02 december 2022
                    p.small-post__reading-time 3 min. to read
                  p.small-post__post-text Did you come here for something in particular or just general Riker-bashing? And blowing into
              article.popular-posts-slider__post.small-post.small-post--tiny-no-image
                h4.small-post__title
                  a(href="#").small-post__link Design is the Mix of emotions
                a(href="#").small-post__badge Travel
                .small-post__description
                  .small-post__meta
                    a(href="#").small-post__writer-link
                      img(src="/img/author-pic.jpg", width="18" height="18" alt="Author Post - Jenny Kiaa").small-post__photo-author
                      p.small-post__author-name Jenny Kiaa
                    time(datetime="2022-12-02").small-post__date 02 december 2022
                    p.small-post__reading-time 3 min. to read
                  p.small-post__post-text Did you come here for something in particular or just general Riker-bashing? And blowing into
            li.splide__slide
              article.popular-posts-slider__post.small-post.small-post--tiny-no-image
                h4.small-post__title
                  a(href="#").small-post__link Design is the Mix of emotions
                a(href="#").small-post__badge Travel
                .small-post__description
                  .small-post__meta
                    a(href="#").small-post__writer-link
                      img(src="/img/author-pic.jpg", width="18" height="18" alt="Author Post - Jenny Kiaa").small-post__photo-author
                      p.small-post__author-name Jenny Kiaa
                    time(datetime="2022-12-02").small-post__date 02 december 2022
                    p.small-post__reading-time 3 min. to read
                  p.small-post__post-text Did you come here for something in particular or just general Riker-bashing? And blowing into
              article.popular-posts-slider__post.small-post.small-post--tiny-no-image
                h4.small-post__title
                  a(href="#").small-post__link Design is the Mix of emotions
                a(href="#").small-post__badge Travel
                .small-post__description
                  .small-post__meta
                    a(href="#").small-post__writer-link
                      img(src="/img/author-pic.jpg", width="18" height="18" alt="Author Post - Jenny Kiaa").small-post__photo-author
                      p.small-post__author-name Jenny Kiaa
                    time(datetime="2022-12-02").small-post__date 02 december 2022
                    p.small-post__reading-time 3 min. to read
                  p.small-post__post-text Did you come here for something in particular or just general Riker-bashing? And blowing into
            li.splide__slide
              article.popular-posts-slider__post.small-post.small-post--tiny-no-image
                h4.small-post__title
                  a(href="#").small-post__link Design is the Mix of emotions
                a(href="#").small-post__badge Travel
                .small-post__description
                  .small-post__meta
                    a(href="#").small-post__writer-link
                      img(src="/img/author-pic.jpg", width="18" height="18" alt="Author Post - Jenny Kiaa").small-post__photo-author
                      p.small-post__author-name Jenny Kiaa
                    time(datetime="2022-12-02").small-post__date 02 december 2022
                    p.small-post__reading-time 3 min. to read
                  p.small-post__post-text Did you come here for something in particular or just general Riker-bashing? And blowing into
              article.popular-posts-slider__post.small-post.small-post--tiny-no-image
                h4.small-post__title
                  a(href="#").small-post__link Design is the Mix of emotions
                a(href="#").small-post__badge Travel
                .small-post__description
                  .small-post__meta
                    a(href="#").small-post__writer-link
                      img(src="/img/author-pic.jpg", width="18" height="18" alt="Author Post - Jenny Kiaa").small-post__photo-author
                      p.small-post__author-name Jenny Kiaa
                    time(datetime="2022-12-02").small-post__date 02 december 2022
                    p.small-post__reading-time 3 min. to read
                  p.small-post__post-text Did you come here for something in particular or just general Riker-bashing? And blowing into
