.author-card {
  display: flex;
  align-items: center;
}

.author-card__wrapper {
  margin-right: 20px;
}

.author-card__photo {
  display: block;
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.author-card__name {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  color: var(--color-min-shaft);
}

.author-card__post-count {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 15px;
  line-height: 150%;
  text-transform: capitalize;
  color: var(--color-boulder);
}

.author-card__link {
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  text-decoration: none;
  color: var(--color-primary);
}
