.button {
  display: inline-flex;
  align-items: center;
  border-radius: 5px;
  padding: 13px 26px;
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--color-white);
  background-color: var(--color-primary);
  transition: color 0.3s ease, background-color 0.3s ease;
}

.button--secondary {
  border: 1px solid var(--color-white);
  padding: 12px 26px;
  color: var(--color-primary);
  background-color: var(--color-white);

  @include hover {
    border: 1px solid var(--color-white);
    color: var(--color-white);
    background-color: transparent;
  }
}

.button--big {
  font-size: 17px;
}

.button--outline {
  border: 1px solid var(--color-primary);
  padding: 12px 25px;
  color: var(--color-primary);
  background-color: transparent;

  @include hover {
    color: var(--color-white);
    background-color: var(--color-primary);

    > .button__icon {
      fill: var(--color-white);
    }
  }
}

.button__icon {
  width: 20px;
  height: 20px;
  transition: fill 0.3s ease;
}

.button--outline .button__icon {
  fill: var(--color-primary);
}

.button__icon--left {
  margin-right: 8px;
}
