@use "helpers/mixins";

.dropdown__toggle {
  position: relative;
  border: none;
  padding: 0 16px 0 0;
  background: none;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 10px;
    height: 10px;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.04448 3.10993C1.26013 2.85833 1.63891 2.82919 1.89051 3.04485L5.00004 5.71015L8.10956 3.04485C8.36116 2.82919 8.73994 2.85833 8.95559 3.10993C9.17124 3.36152 9.14211 3.7403 8.89051 3.95596L5.39051 6.95596C5.16582 7.14855 4.83425 7.14855 4.60956 6.95596L1.10956 3.95596C0.857965 3.7403 0.828828 3.36152 1.04448 3.10993Z' fill='rgb(30, 30, 30)'/%3E%3C/svg%3E");
    background-position: center;
    background-size: 10px;
    background-repeat: no-repeat;
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;
    pointer-events: none;
  }
}

.dark-theme .dropdown__toggle::after {
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.04448 3.10993C1.26013 2.85833 1.63891 2.82919 1.89051 3.04485L5.00004 5.71015L8.10956 3.04485C8.36116 2.82919 8.73994 2.85833 8.95559 3.10993C9.17124 3.36152 9.14211 3.7403 8.89051 3.95596L5.39051 6.95596C5.16582 7.14855 4.83425 7.14855 4.60956 6.95596L1.10956 3.95596C0.857965 3.7403 0.828828 3.36152 1.04448 3.10993Z' fill='rgb(255, 255, 255)'/%3E%3C/svg%3E");
}

.dropdown__toggle--active {
  &::after {
    transform: translateY(-50%) rotate(-180deg);
  }
}

.dropdown__list {
  position: absolute;
  z-index: 1;
  display: none;
  list-style-type: none;
  margin: 10px 0 0;
  border-radius: 4px;
  padding: 16px;
  text-align: left;
  background-color: var(--color-white);
}

.dropdown__list--active {
  display: block;
}

.dropdown__item:not(:last-of-type) {
  margin-bottom: 10px;
}

.dropdown__link {
  font-weight: 500;
  font-size: 15px;
  text-decoration: none;
  color: var(--color-dark-charcoal);

  @include mixins.hover {
    text-decoration: underline;
  }
}
