.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pagination__control {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-silver);
  border-radius: 5px;
  padding: 10px 26px;
  font-size: 15px;
  line-height: 1;
  color: var(--color-dove-gray);
  user-select: none;
}

.pagination__control--prev {
  margin-right: 16px;
}

.pagination__control--next {
  flex-direction: row-reverse;
  margin-left: 16px;
}

.pagination__icon {
  fill: currentcolor;
}

.pagination__control--prev .pagination__icon {
  margin-right: 8px;
}

.pagination__control--next .pagination__icon {
  margin-left: 8px;
}

.pagination__control[href] {
  text-decoration: none;
  transition: border 0.3s ease, color 0.3s ease, background-color 0.3s ease;

  @include hover {
    border: 1px solid var(--color-primary);
    color: var(--color-white);
    background-color: var(--color-primary);
  }
}

.pagination__list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pagination__item {
  flex-shrink: 0;
}

.pagination__item:not(:last-of-type) {
  margin-right: 16px;
}

.pagination__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-silver);
  border-radius: 5px;
  padding: 11px 8px;
  min-width: 40px;
  font-size: 15px;
  line-height: 1;
  color: var(--color-dove-gray);
  user-select: none;
}

.pagination__link[href] {
  text-decoration: none;
  transition: border 0.3s ease, color 0.3s ease, background-color 0.3s ease;

  @include hover {
    border: 1px solid var(--color-primary);
    color: var(--color-white);
    background-color: var(--color-primary);
  }
}
