.post__article {
  padding-bottom: 24px;
}

.post__container {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
}

.post__content {
  flex-grow: 0;
  flex-shrink: 3;
  margin-right: 30px;
  max-width: 856px;
}

.post__sidebar {
  flex: 0 1 360px;
}

.post__header {
  display: flex;
  flex-direction: column;
}

.post__badge {
  align-self: flex-start;
  order: 1;
  margin-bottom: 16px;
  border-radius: 3px;
  padding: 4px 8px;
  font-size: 12px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--color-dove-gray);
  background-color: var(--color-aqua-squeeze);
}

.post__title {
  order: 2;
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 27px;
  line-height: 140%;
  text-transform: capitalize;
  color: var(--color-min-shaft);
}

.post__meta {
  order: 3;
  margin-bottom: 32px;
}

.post__big-image {
  display: block;
  margin-bottom: 40px;
  border-radius: 5px;
  width: 100%;
  height: 432px;
  object-fit: cover;
}

.post__socials {
  margin-bottom: 80px;
}
