.reward {
  padding: 100px 0;
}

.reward__container {
  text-align: center;
}

.reward__title {
  margin-bottom: 58px;
}

.reward__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 88px;
}

.reward__item {
  flex-basis: 48%;
}

.reward__subtitle {
  margin-top: 0;
  margin-bottom: 23px;
  font-weight: 600;
  font-size: 21px;
  line-height: 140%;
  text-transform: capitalize;
  color: var(--color-min-shaft);
}

.reward__text {
  margin-top: 0;
  font-size: 15px;
  line-height: 150%;
  color: var(--color-emperor);
}

.reward__link {
  text-transform: capitalize;
}
