.simplebar-content::after,
.simplebar-content::before {
  display: none;
}

.simplebar-track {
  overflow: visible;
  background-color: var(--color-silver);
}

.simplebar-track.simplebar-vertical {
  width: 1px;
}

.simplebar-scrollbar::before {
  left: -1px;
  right: -1px;
  top: 0;
  bottom: 0;
  background-color: var(--color-primary);
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
  top: 0;
  bottom: 0;
}

.simplebar-scrollbar.simplebar-visible::before {
  opacity: 1;
}
