.section-title {
  margin: 0;
  font-weight: 600;
  font-size: 21px;
  line-height: 140%;
  text-transform: capitalize;
  color: var(--color-min-shaft);
}

.section-title__marker {
  display: inline-block;
  margin-right: 5px;
  padding: 2px 1px;
  color: var(--color-white);
  background-color: var(--color-primary);
}
