.sidebar-ad {
  position: relative;
  padding: 55px 20px;
  background-color: var(--color-primary);
}

.sidebar-ad__badge {
  position: absolute;
  right: 10px;
  top: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  color: var(--color-white);
}

.sidebar-ad__title {
  margin-top: 0;
  margin-bottom: 10px;
  max-width: 222px;
  font-weight: 600;
  font-size: 19px;
  line-height: 140%;
  text-transform: capitalize;
  color: var(--color-white);
}

.sidebar-ad__description {
  margin-top: 0;
  margin-bottom: 24px;
  max-width: 284px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: var(--color-white);
}
