.site-footer {
  background-color: var(--color-aqua-haze);
}

.site-footer__top {
  display: flex;
  justify-content: space-between;
  padding: 102px 0 66px;
  width: 100%;
}

.site-footer__content {
  flex-shrink: 0;
  flex-basis: 236px;
  margin-right: 8.6%;
}

.site-footer__logo {
  display: block;
  margin-bottom: 24px;
}

.site-footer__description {
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  color: var(--color-emperor);
}

.site-footer__bottom {
  border-top: 1px solid var(--color-skeptic);
  padding: 24px 0 28px;
}

.site-footer__copyright {
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  color: var(--color-emperor);
}
