@use "helpers/mixins";

.site-header {
  padding: 24px 0 19px;
  text-align: center;
  color: #fff;
  background-color: var(--color-aqua-spring);
  transition: background-color 0.3s ease;
}

.site-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header__main-navigation {
  flex-basis: 33.95%;

  @include mixins.max(mixins.$lg) {
    flex-basis: 40%;
  }

  @include mixins.max(mixins.$md) {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    overflow-y: auto;
    padding: 77px 15px 24px 44px;
    width: 60%;
    background-color: var(--color-aqua-spring);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }

  @include mixins.max(mixins.$sm) {
    padding-left: 20px;
    width: 75%;
  }
}

.site-header__main-navigation--active {
  @include mixins.max(mixins.$md) {
    transform: translateX(0);
  }
}

.site-header__logo {
  flex-basis: 9.26%;
}

.site-header__user-navigation {
  flex-basis: 33.95%;

  @include mixins.max(mixins.$lg) {
    flex-basis: 40%;
  }
}

.site-header__burger-button {
  @include mixins.max(mixins.$md) {
    flex-basis: 40%;
  }
}
