.site-header {
  padding: 24px 0 19px;
  text-align: center;
  color: #fff;
  background-color: var(--color-aqua-spring);
  transition: background-color 0.3s ease;
}

.site-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header__main-navigation {
  flex-basis: 33.95%;
}

.site-header__logo {
  flex-basis: 9.26%;
}

.site-header__user-navigation {
  flex-basis: 33.95%;
}
