@use "helpers/mixins";

.site-navigation__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0 0 -8px;
  padding: 0;

  @include mixins.max(mixins.$md) {
    flex-flow: column nowrap;
    align-items: flex-start;
    margin: 0;
  }
}

.site-navigation__item {
  margin-bottom: 8px;
}

.site-navigation__item:not(:last-of-type) {
  margin-right: 40px;

  @include mixins.max(mixins.$xl) {
    margin-right: 24px;
  }

  @include mixins.max(mixins.$md) {
    margin-right: 0;
    margin-bottom: 8px;
  }
}

.site-navigation__link {
  font-weight: 500;
  font-size: 15px;
  text-decoration: none;
  color: var(--color-dark-charcoal);

  @include mixins.hover {
    text-decoration: underline;
  }

  @include mixins.max(mixins.$md) {
    font-size: 20px;
  }
}
