.top-posts {
  padding-top: 80px;
  padding-bottom: 90px;
  background-color: var(--color-aqua-haze);
}

.top-posts__container {
  display: flex;
  justify-content: space-between;
}

.top-posts__section:first-of-type {
  flex-basis: calc(70.22% - 25px);
}

.top-posts__section:last-of-type {
  max-width: calc(29.78% - 25px);
}
