@use "helpers/mixins";

.user-navigation {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.user-navigation__item:not(:last-of-type) {
  margin-right: 40px;

  @include mixins.max(mixins.$xl) {
    margin-right: 24px;
  }
}

.user-navigation__link {
  font-weight: 500;
  font-size: 15px;
  text-decoration: none;
  color: var(--color-dark-charcoal);

  @include mixins.hover {
    text-decoration: underline;

    > .user-navigation__icon {
      fill: var(--color-primary);
    }
  }
}

.user-navigation__icon {
  fill: currentcolor;
}
